<div>
  <h2><span>Name: </span>{{studentIn.firstName}} {{studentIn.lastName}}</h2>
  <h2><span>Nationality: </span>{{studentIn.nationality}}</h2>
  <h2><span> Age: </span> {{studentIn.age}}</h2>

  <h2><span>Gender: </span>{{studentIn.gender}} </h2>
  <h2><span>Status: </span> {{studentIn.status}} </h2>
  <h2><span>Home Address: </span> {{studentIn.homeaddress}}</h2>
  <h2><span>Educational Background </span><br> </h2>
  <h2><span>Elementary School: </span> {{studentIn.elementarySchool}} </h2>
  <h2><span>High School: </span> {{studentIn.highSchool}}</h2>
  <h2 *ngIf="studentIn.College"><span>College: </span> {{studentIn.College}}</h2>
  <h2 *ngIf="studentIn.degree"><span>Degree: </span>{{studentIn.degree}}</h2>
</div>
