div{
  border-style: solid;
  border-color: white;
  background-color: black;
  color: white;
  width: 50%;
  margin-left: 470px ;
}

h3{
  color: white;
}
span{
  color: aquamarine;
}
