div{
  border-style: solid;
  border-color: white;
  background-color: black;
  color: white;
  width: 50%;
  margin-left: 450px ;
}

h2{
  color: white;

}
h3{
  color: white;
}
span{
  color: aquamarine;
}
